<%= form_with model: Image.new, local: true do |form| %>
  <div class="form-gruop">
    <%= form.text_area :content, class: "form-control" %>
  </div>
  <%= form.submit class: "btn btn-primary btn-block" %>
<% end %>
